html, body, p{
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
}
body{
  background-color: #CCFFBD;
}
button{
  cursor: pointer;
}
.countriesContainer{
  width: 95%;
  
}
.country {
  background-color: #A3DA8D;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  
}
.countryProp{
  font-weight: 500;
  margin: 0.2rem;
}
.head{
  display: flex;
   flex-direction: column;
  height: 10rem;
  margin : 0 2rem 0.5rem 2rem;
}
.alignCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: relative;
  float :right;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    }
    
.dropdown-content button {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  width: 100%;
  }
  .dropdown-content button:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    }
    .dropdown-header{
      width: 8rem;
    }
    .sortButtons{
     
    }
    .main{
      flex: 1;
    }
    .filter{
      flex:0;
    }
    .btn{
      padding: 0.5rem;
      background-color: #A3DA8D;
      border-radius: 0.5rem;
      font-weight: 700;
      font-size: 1em;
      
    }
    .descendingButton{
      margin-left: 1rem;
    }
